[submodule "Quizz"]
	path = Quizz
	url = https://github.com/username/Quizz.git
[submodule "quizzapptwo"]
	path = quizzapptwo
	url = https://github.com/ashokudutha956/quizzapptwo.git
[submodule "Quizzprojectreact"]
	path = Quizzprojectreact
	url = https://github.com/ashokudutha956/Quizzprojectreact.git
